@media (max-width: 768px){
    
    /****** General ***********/

    @import './components/loader.scss';
    
    :root{
        --main-color: #9356DC;
        --new-color: rgba(0, 135, 102, 1);
        --new-bg-color: rgba(153, 226, 208, 1);
    }

    body{
        margin: 0;
        padding: 0;
        animation: loader 3s linear 1;
    }

    @keyframes loader{
        0%{
            overflow: hidden;
        }
        99%{
            overflow: hidden;
        }
        100%{
            overflow: visible;
        }
    }
    
    a{
        text-decoration: none;
        color: inherit;
    }

    button{
        border: none;
        font-size: 16px;
        font-family: inherit;
        font-weight: 500;
        color: white;
        text-align: center;
        padding: 13px 18.5px;
        background: linear-gradient(193.33deg, var(--main-color) -11.44%, #FF79DA 123.93%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
    }
    
    h1{
        margin: 0;
        font-weight: 700;
        font-size: 24px;
    }

    h2{
        margin: 0;
        font-weight: 700;
        font-size: 24px;
    }

    h3{
        margin: 0;
        font-size: 18px;
    }

    p{
        margin: 0;
    }

    .main-container{
        font-family: 'Roboto', sans-serif;
        background: #F7F7F7;
        width: 100%;
        /* overflow: hidden; */
    }

    /****** Header ***********/

    header{
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
    
    .fa-arrow-left{
        position: absolute;
        top: 23px;
        left: 24px;
    }
    
    /* .index-arrow{
        visibility: hidden;
    } */
    
    #logo{
        font-family: 'Shrikhand', sans-serif;
        font-size: 30px;
        text-align: center;
        padding: 14px 0 4px 0;
    }

    /****** Info group ***********/

    .localisation{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0 15px 0;
        gap: 17px;
        background-color: #EAEAEA;
    }

    input[type=search]{
        border: none;
        font-size: 16px;
        background-color: #EAEAEA;
        font-family: 'Roboto', sans-serif;
        padding: 0;
        width: 109px;
    }
    
    input:focus{
        outline: none;
    }
    
    ::placeholder{
        color:black;
        font-weight: 500;
        width: 100%;
    }

    .headline{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            max-width: 275px;
            text-align: center;
            padding-bottom: 10px;
        }

        p{
            font-weight: 300;
            font-size: 18px;
            text-align: center;
            max-width: 315px;
            margin-bottom: 27px;
        }
    }

    #search{
        margin-bottom: 57px;
    }

    /****** Fonctionnement ***********/

    #fonctionnement{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        padding: 48px 20px 68px 20px;
        gap: 25px;
    }

    .info{
        display: flex;
        align-items: center;
        position: relative;

        .fa-solid{
            color: rgba(126, 126, 126, 1);
        }

        .fa-sharp{
            color: var(--main-color);
        }
    }

    .info-content{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 12.5px;
        background: #F7F7F7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        width: 100%;

        p{
            width: 211px;
            padding: 28px 0;
        }
    }
    

    .numbers{
        font-size: 14.18px;
        font-style: inherit;
        font-family: "Roboto", sans-serif;
        height: 14.55px;
        border-radius: 50%;
        background: var(--main-color);
        color: white;
        padding: 5px 8px;
        position: absolute;
    }

    /****** Restaurants ***********/

    #restaurants{
        padding: 58px 0 66px 0;
        display: flex;
        flex-direction: column;
        width: 100%;

        h2{
            padding: 0 0 20px 20px;
        }
    }

    .restaurants-cards{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 0 18px 0 17px;
    }

    .restaurant-card{
        background: #FFFFFF; 
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        width: 100%;
        position: relative;

        img{
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            height: 200px;
        }

        .card{
            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                margin: 0;
            }
        }

        .card-content{
            display: flex;
            flex-direction: column;
            padding: 10px 0 12px 13px;
            gap: 5px;
        }

        .like{
            color: var(--main-color);
        }
    }

    .new{
        position: absolute;
        right: 15px;
        top: 15px;
        color: var(--new-color);
        background-color: var(--new-bg-color);
        padding: 7px 9px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
    }
    

    .fa-heart{
        font-size: 22px;
        margin-right: 25px;
    }

    

    /****** Footer ***********/

    footer{
        background-color: #353535;
        display: flex;
        flex-direction: column;
        padding: 22px 0 22px 25px;

        h3{
            font-family: 'Shrikhand', sans-serif;
            font-weight: 400;
            color: white;
            padding-bottom: 16px;
        }

        p{
            color: white;
        }

        .fa-solid{
            color: white;
            width: 10px;
        }
    }

    .liens{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }


    .footer-section-1{
        display: flex;
        flex-direction: column;
        gap: 7px;

        p{
            margin: 0;
            font-weight: 500;
        }
    }

    #proposer{
        display: flex;
        align-items: center;
        gap: 15px;
    }

    #partenaire{
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .footer-section-2{
        display: flex;
        flex-direction: column;
        gap: 7px;

        p{
            margin: 0;
            font-weight: 300;
        }
    }

}
