@media (max-width: 768px){

    /****** General ***********/
  
  /* *{
    box-shadow: 0 0 0 3px red inset;
  } */
  
  :root{
    --main-color: #9356DC;
    --new-color: rgba(0, 135, 102, 1);
    --new-bg-color: rgba(153, 226, 208, 1);
    }
  
  body{
    margin: 0;
    padding: 0;
  }
    
  a{
    text-decoration: none;
    color: inherit;
  }
  
  button{
    border: none;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 13px 50px;
    background: linear-gradient(193.33deg, var(--main-color) -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }
    
  h1{
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    font-family: 'Shrikhand', sans-serif;
  }

  h2{
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  h3{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  p{
    margin: 0;
    font-weight: 300;
    font-size: 15px;
  }
  
  .main-container{
    font-family: 'Roboto', sans-serif;
    background: #F7F7F7;
    /* overflow: hidden; */
  }
  
  /****** Header ***********/

  .fa-arrow-left{
    position: absolute;
    top: 23px;
    left: 24px;
  }
    
  /* .index-arrow{
    visibility: hidden;
  } */
    
  #logo{
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 14px 0 4px 0;
  }


  /****** Menu ***********/

  .menu img{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
  }

  .menu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 32px 17px 0 17px;
    position: relative;
    top: -40px;
    z-index: 2;
    background: #F7F7F7;
  }

  .restaurant-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .restaurant-name .fa-heart{
    padding-right: 24px;
  }

  .menus{
    width: 100%;
  }

  .separateur{
    border: 2px solid rgba(153, 226, 208, 1);
    width: 40px;
    margin: 10px 0;
  }

  .menu-cards{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .cards{
    display: flex;
    flex-direction: column;
  }

  .card{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    gap: 5px;
    padding: 12px 15px;
  }

  .card .card-content{
    display: flex;
    justify-content: space-between;
  }

  .prix{
    font-weight: 700;
  }

  .heart_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }

  .heart_icon .empty{
    position: absolute;
  }

  .empty:hover{
    opacity: 0;
  }

  .heart_icon .full{
    position: absolute;
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 400ms;
  }

  .full:hover{
    opacity: 1;
  }


  /****** Footer ***********/

  footer{
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding: 22px 0 22px 25px;
  }
  
  footer h3{
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    color: white;
    padding-bottom: 16px;
  }
  
  footer p{
    color: white;
  }
  
  footer .fa-solid{
    color: white;
    width: 10px;
  }
  
  .liens{
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  
  .footer-section-1 p{
    margin: 0;
    font-weight: 500;
  }
  
  .footer-section-1{
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  
  #proposer{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  #partenaire{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .footer-section-2 p{
    margin: 0;
    font-weight: 300;
  }
  
  .footer-section-2{
    display: flex;
    flex-direction: column;
    gap: 7px
  }
}