/****** General ***********/
/* *{
  box-shadow: 0 0 0 3px red inset;
} */
:root {
  --main-color: #9356DC;
  --new-color: rgba(0, 135, 102, 1);
  --new-bg-color: rgba(153, 226, 208, 1);
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 13px 18.5px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 500ms;
}
button:hover {
  background: linear-gradient(193.33deg, #a16be0 -11.44%, #ff93e1 123.93%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  transition: all 500ms;
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 28px;
  font-family: "Shrikhand", sans-serif;
}

h2 {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-container {
  font-family: "Roboto", sans-serif;
  background: #F7F7F7;
}

/****** Header ***********/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.fa-arrow-left {
  position: absolute;
  top: 25px;
  left: 24px;
}

/* .index-arrow{
  visibility: hidden;
} */
#logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 14px 0 4px 0;
}

/****** Menu ***********/
.menu img {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
  object-fit: cover;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 30px 17px;
  position: relative;
  margin-top: -40px;
  z-index: 2;
  background: #F7F7F7;
}

.restaurant-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.restaurant-name .fa-heart {
  padding-right: 24px;
}

.menus {
  width: 100%;
  opacity: 0;
  animation: loading 1s 2s forwards;
}
.menus:nth-of-type(1) {
  animation-delay: 1s;
}
.menus:nth-of-type(2) {
  animation-delay: 3s;
}
.menus:nth-of-type(3) {
  animation-delay: 5s;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.separateur {
  border: 2px solid rgb(153, 226, 208);
  width: 40px;
  margin: 10px 0;
}

.menu-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}
.card:hover .check {
  width: 4rem;
}
.card .card-content {
  display: flex;
  justify-content: space-between;
}

.card-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin: 12px 0 12px 15px;
  overflow: hidden;
}

.right-content {
  display: flex;
}

.prix {
  font-weight: 700;
  padding: 0 15px 12px;
  align-self: flex-end;
}

.fa-circle-check {
  color: white;
  transition: 400ms;
  transition-delay: 0.05s;
}

.check {
  width: 0rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(153, 226, 208);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 400ms;
}

.heart_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.heart_icon .empty {
  position: absolute;
  font-size: 30px;
}

.empty:hover {
  opacity: 0;
}

.heart_icon .full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
  font-size: 32px;
}

.full:hover {
  opacity: 1;
}

/****** Footer ***********/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 25px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  color: white;
  padding-bottom: 16px;
}
footer p {
  color: white;
}
footer .fa-solid {
  color: white;
  width: 10px;
}

.liens {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-section-1 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-section-1 p {
  margin: 0;
  font-weight: 500;
}

#proposer {
  display: flex;
  align-items: center;
  gap: 15px;
}

#partenaire {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-section-2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-section-2 p {
  margin: 0;
  font-weight: 300;
}

@media (min-width: 768px) {
  #logo {
    padding: 14px 0px;
  }
  .menu {
    background-color: #FFFFFF;
  }
  .menu img {
    height: 500px;
  }
  .restaurant-name {
    justify-content: center;
    gap: 60px;
  }
  .menu-content {
    margin: -40px 190px 0px;
    padding: 50px 150px 30px;
  }
  footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 80px;
    padding: 40px 0px 20px 0px;
  }
  footer h3 {
    padding: 0px 50px 10px 0px;
  }
  footer .liens {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  footer .footer-section-1 {
    flex-direction: row;
    gap: 20px;
  }
  footer .footer-section-2 {
    flex-direction: row;
    gap: 20px;
  }
}

/*# sourceMappingURL=restaurants.css.map */
